#realtime-info {
    display: flex;
}

/* カードの共通スタイル設定 */
.card-body {
    display: flex;
}

.card-text {
    display: flex;
    align-items: center;
}

.card-param {
    margin-left: 2rem;
    font-size: 1.5rem;
    font-weight: bold;
}

.high-alart {
    color: red;
}

.low-alart {
    color: blue;
}

/* 個別カードのスタイル設定 */
.cooler {
    color: aqua;
}

.heater {
    color: coral;
}

.bg-fan {
    background-color: yellowgreen;
}

.bg-co2 {
    background-color: yellow;
}
